@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(../../../public/fonts/Roboto-Regular.ttf);
}

@layer {
  .font-Roboto {
    font-family: Roboto;
    font-weight: 900;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #afafb6;
  border-radius: 20em;
}